<div class="page-content-padding">
    <section>
        <h1 class="mat-headline">Welcome to the {{appName}}!</h1>
        <h3>This is your homepage</h3>
        <mat-divider></mat-divider>
    </section>
    <section class="page-section-padding">
        <p>{{sampleContent}}</p>
    </section>
    <mat-divider></mat-divider>
    <section class="page-section-padding">
        <button
            mat-flat-button
            color="primary"
            class="btn-hover"
            (click)="onGoToUsers()">
            <span>Manage Users</span>
        </button>
    </section>
</div>
